Repository kubesphere/ks-devops, pull requests merged in 2023-06, with the labels that each got.

#958 Bugfix 971 add check job name api
  pkg/client/devops/fake/fakedevops.go
  pkg/client/devops/jclient/pipeline.go
  pkg/client/devops/jenkins/jenkins.go
  pkg/client/devops/jenkins/pipeline.go
  pkg/client/devops/pipeline.go
  pkg/kapis/devops/v1alpha2/devops.go
  pkg/kapis/devops/v1alpha2/register.go
  pkg/kapis/devops/v1alpha2/register_test.go
  pkg/kapis/devops/v1alpha3/handler.go
  pkg/kapis/devops/v1alpha3/register.go
  pkg/models/devops/devops.go
  pkg/models/devops/devops_test.go
Labels: size/L, approved, lgtm, kind/bug, release-note

#960 re-use the code-repos in step-template
  config/crd/bases/devops.kubesphere.io_clustersteptemplates.yaml
  config/crd/bases/devops.kubesphere.io_gitrepositories.yaml
  pkg/api/devops/v1alpha3/gitrepository.go
  pkg/api/devops/v1alpha3/steptemplate_types.go
Labels: kind/feature, approved, lgtm, size/S, release-note

#962 change checkPipelineName and checkDevopsName apis
  pkg/client/devops/fake/fakedevops.go
  pkg/client/devops/jclient/pipeline.go
  pkg/client/devops/jenkins/jenkins.go
  pkg/client/devops/pipeline.go
  pkg/kapis/devops/v1alpha2/devops.go
  pkg/kapis/devops/v1alpha2/register.go
  pkg/kapis/devops/v1alpha2/register_test.go
  pkg/kapis/devops/v1alpha3/handler.go
  pkg/kapis/devops/v1alpha3/register.go
  pkg/models/devops/devops.go
Labels: approved, lgtm, size/M, kind/api-change, release-note-none

#966 change fmt.Errorf to errors.NewBadRequest
  pkg/kapis/devops/v1alpha3/handler.go
Labels: approved, lgtm, size/XS, kind/api-change, release-note
